.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__items > li + li {
    border-top: 1px dashed lightgrey;
    padding-top: 2rem;
  }

  li:not([class]) {
    list-style: disc;
  }

  .tag-list > * + * {
    margin-left: #{get-size(base)};
  }

  .tag {
    background: var(--color-primary-glare);
    padding: 0.2rem 0.4rem;
    margin-top: #{get-size(300)};
  }
}
