.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .post-list__items > li + li {
    border-top: 1px dashed lightgrey;
    padding-top: 2rem;
  }
}
