.site-head {
  background-color: var(--color-deep-blue);
  color: var(--color-light);
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-light);
  }

  border-bottom: 1px dashed lightgrey;
  &__logo {
    max-height: #{get-size(max)};
  }
}
